/* Custom styling is specified here */

body, html {
    width: 100%;
}

img, iframe {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
	margin-top: 65px;
	margin-bottom: 75px;
}

header, footer {
	height: 65px;
}

iframe {
	margin: 10px;
}

.btn {
	margin-left: 5px;
}

.navbar-right li {
	margin-right: 15px;
}

#ajaxBox img {
    width: 100px;
    height: 100px;
    box-shadow: none;
}

#kendrickPhoto {
    width: 500px;
    height: 500px;
}

#life {
	width: 480px;
	height: 720px;
}

#grammys {
	width: 500px;
	height: 600px;
}

.albumArt {
    width: 300px;
    height: 300px;
    transition: all .2s ease-in-out;
}

.albumArt:hover { 
    transform: scale(1.1); 
}